.personalizacao-foto {
    position: relative;
    display: inline-block;
}

.personalizacao-foto::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: 100%;
    height: 100%;
    border: #B0B7C0 solid 4px;
    border-radius: 1000px;
    border-top-color: #B0FC38;
    animation: girando-borda 5s infinite;
}

@keyframes girando-borda {
    to {
        transform: rotate(1turn);
    }
}

@media (max-width: 400px) {
    .personalizacao-foto {
        display: none;
    }
}