.introducao-main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: trocarImagens 10s infinite normal;
}

@keyframes trocarImagens {

    0%,
    100% {
        background-image: url('../img/imgbkdg2.jpeg');
    }

    50% {
        background-image: url('../img/imgbkgd.jpeg');
    }
}


.introducao {
    max-width: 1200px;
    padding: 50px 60px 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
}

.introducao h1 {
    color: #fff;
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    position: relative;
}

/* .introducao h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url("../img/detalhe.svg") no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1;
} */

.introducao p {
    font-size: 1.5rem;
    color: #fff;
}

@media (max-width: 1000px) {
    .introducao h1 {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }

    .introducao h1 {
        font-size: 2rem;
    }

    .introducao h1::before {
        width: 30px;
        height: 10px;
        left: 0px;
    }
}

@media (max-width: 540px) {
    .introducao {
        padding: 60px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .personalizacao-foto {
        max-width: 40%;
        height: auto;
    }
}